*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* color */
/* 
#69F0AE



*/
/* body */
.container{
    width: 100vw;
    height: 100vh;
    background-color:#69f0AE ;
}
.navBar{
    width: 15%;
    height: 100vh;
    /* background-color: #512DA8; */
    display: flex;
    flex-direction: column;
}
.profile{
    width: 100%;
    height: 20%;
    /* background-color: yellowgreen; */
    background-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}
.image--profile{
    width: 70%;
    height: 60%;
    background-color: black;
    background-position: center;
    background-size: cover;
}

/* start nav bar table */
.navBarTabel{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
}
.navBarList{
    width: 100%;
    height: 5%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    text-transform: capitalize;
    border: 3px solid red;
    border-radius: 20px;
}