*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* color */
/* 
#69F0AE



*/
/* body */
.container{
    width: 100vw;
    height: 100vh;
    background-color:#455A64 ;
    display: flex;
    gap:  15px;
}
.navBar{
    width: 15%;
    height: 100vh;
    background-color: #512DA8;
    display: flex;
    flex-direction: column;
}
.profile{
    width: 100%;
    height: 20%;
    /* background-color: yellowgreen; */
    background-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}
.image--profile{
    width: 70%;
    height: 60%;
    background-color: black;
    background-position: center;
    background-size: cover;
}

/* start nav bar table */
.navBarTabel{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
}
.navBarList{
    width: 100%;
    height: 5%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    text-transform: capitalize;
    border: 3px solid red;
    border-radius: 20px;
}
.baiscontainer{
    width: 70%;
    height: 70%;
    display: flex;
    margin: auto;
}
.main--panel{
    width: 100%;
    height: 100%;
    background-color: #512DA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.create--btn{
    width: 40%;
    height: 40%;
    border-radius: 20px;
    cursor: pointer;
}
.create--panel{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.create--todo--list{
    background-color: #BBDEFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.title--todo{
    width: 60%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #45f38d; */
}
.title--todo label {
    font-size: 64px;
    padding: 30px;
    text-transform: capitalize;
    text-shadow: 3px 3px #FAFAFA;
}
.title--todo input {
    width: 60%;
    height: 45%;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 46px;
}
.description--todo{
    width: 60%;
    height: 40%;
    /* background-color: #157e7e; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description--todo label{
    font-size: 64px;
    text-shadow:  3px 2px white;
}
.description--todo textarea{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 24px;
}
.btn-create-todo{
    width: 10%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* background-color: rosybrown; */

}
.create--todo,
.back--todo {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    
}
.create--todo--folde{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BBDEFB;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.folder--todo{
    width: 85%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: saddlebrown; */
}.folder--todo label {
    font-size: 64px;
}
.folder--todo input{
    width: 70%;
    height: 10%;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 24px;
}


.make-panels-invisible{
    opacity: 1;
    visibility: visible;
}