*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* color */
/* 
#69F0AE



*/
/* body */
.container{
    width: 100vw;
    height: 100vh;
    background-color:#455A64 ;
    display: flex;
    gap:  15px;
}
.navBar{
    width: 15%;
    height: 100vh;
    background-color: #512DA8;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile{
    width: 100%;
    height: 20%;
    /* background-color: yellowgreen; */
    background-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}
.image--profile{
    width: 70%;
    height: 60%;
    background-color: black;
    background-position: center;
    background-size: cover;
}

/* start nav bar table */
.navBarTabel,
.table-folders,
.table-all-todos
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: tomato;
    gap: 5px;
    padding: 10px;
}
.table-folders{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    /*display flex*/
}
.table-folders-items{
    width: 95%;
    background-color: #512DA8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display flex*/
}
.new-folders{
    width: 100%;
    background-color: yellow;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*display flex*/
}
.new-folders-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /*display flex*/
}
.new-folder-open-btns{
    cursor: pointer;
    background-color: transparent;
    width: 20px;
    border: none;
}
.navBarList{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    text-transform: capitalize;
    border-radius: 20px;
}

.base-container{
    width: 70%;
    height: 70%;
    display: flex;
    margin: auto;
}
.main--panel{
    width: 100%;
    height: 100%;
    background-color: #512DA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.create--btn{
    width: 40%;
    height: 40%;
    border-radius: 20px;
    cursor: pointer;
}
.create--panel{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.create--todo--list{
    background-color: #BBDEFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    visibility: hidden;
}
.title--todo{
    width: 60%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #45f38d; */
}
.title--todo label {
    font-size: 64px;
    padding: 30px;
    text-transform: capitalize;
    text-shadow: 3px 3px #FAFAFA;
}
.title--todo input {
    width: 60%;
    height: 45%;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 46px;
}
.description--todo{
    width: 60%;
    height: 40%;
    /* background-color: #157e7e; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description--todo label{
    font-size: 64px;
    text-shadow:  3px 2px white;
}
.description--todo textarea{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 24px;
}
.btn-create-todo,
.btn--contorol{
    width: 10%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* background-color: rosybrown; */

}
.create--todo,
.back--todo,
.remove--todo,
.done--todo {
    
    width: 100%;
    height: 100%;
    font-size: 24px;
    
}
.create--todo--folde{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BBDEFB;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.folder--todo{
    width: 85%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: saddlebrown; */
}.folder--todo label {
    font-size: 64px;
}
.folder--todo input{
    width: 70%;
    height: 10%;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 24px;
}


.make-panels-invisible{
    opacity: 1;
    visibility: visible;
}

.todo--list--page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
    opacity: 1;
    /* visibility: hidden; */
}

.todo-list-body--titele,
.todo-tlis-titele{
    background-color: yellow;
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.todo--process{
    background-color: yellow;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.todo-list-body--description{
    width: 70%;
    height: 60%;
    font-size: 32px;
    background-color: antiquewhite;
}